@model IEnumerable<Apptower.Models.VisitantesPorEspacio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEspacioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVisitanteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspacioNavigation.IdEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVisitanteNavigation.ApellidoVisitante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVisitantePorEspacio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVisitantePorEspacio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVisitantePorEspacio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
