@model Apptower.Models.Parqueadero

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Parqueadero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreParqueadero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreParqueadero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoParqueadero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoParqueadero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoParqueadero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoParqueadero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdParqueadero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
